[submodule "themes/icarus"]
	path = themes/icarus
	url = git@github.com:ppoffice/hexo-theme-icarus.git
[submodule "themes/yilia"]
	path = themes/yilia
	url = https://github.com/litten/hexo-theme-yilia
